:root {
  /* --main-bg-color: #23272f;
  --text-color: #fff; */

  --main-bg-color: #23272f;
  --text-color: #fff; 

  font-family: Integer, system-ui, Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility ;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;



  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #2a3243;
    --text-color: #fff;
  }
}

body {

  background-attachment: var(--main-bg-color);
  color: var(--text-color);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}
